<h1>Log In Below:</h1>

<form action='/sessions' method="POST">
  <label>Email:</label>
  <br/>
  <input type="text" name="email">
  <p></p>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <p></p>
  <input type="submit" value="Let's Go!">
</form>