<h1>Log In Below:</h1>

<form method="post" action="/sessions">
<input type="text"id="user[email]" name="email">
<!-- <input type="text" id="email" name="user[email]"> -->
<input type="text" id="user[password]" name="password">
<input type="submit" name="Log In" value="Log In">
</form>
