<h1>Log In Below:</h1>

<form method='POST' action='/sessions'>
    <h3>Email:</h3>
    <input type="text" name="email">
    <h3>Password:</h3>
    <input type="text" name="password">
    <button type="submit">Log In</button>
</form>