<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
<h1> Name: </h1>
    <input type="text" name="name">
<br /><h1> Email: </h1>
    <input type="text" name="email">
<br /><h1> Password: </h1>
    <input type="text" name="password">
    <button type="submit">Sign Up</button>
</form>