<h1>Sign Up Below:</h1>

<form action='/registrations' method='POST'>
  <!-- Name, Email and Password -->
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="name" />
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" value="email@example.com" />
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" value="password" />
  <input type="submit" id="sign up" value="Sign Up" />
</form>