<h1>Sign Up Below:</h1>
<form method="POST" action='/registrations'>
  <input type="text" name="name">
  <input type="text" name="password">
  <input type="text" name="email"> 
  <button type='submit' value="Submit"> Sign Up </button>
</form>

