<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
    <h5>
        name:
    </h5>
    <input type="text" name="name">
    <h5>
        password:
    </h5>
    <input type="text" name="password">
    <h5>
        email:
    </h5>
    <input type="text" name="email">
    <input type='submit' value='Sign Up'>
</form>

