<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>

  <form method="get" action="/registrations/signup"
  <label for="sign_up">Sign Up</label>
  <button type="submit">Sign Up</button>
  </form>
  <form method="get" action="/sessions/login"
  <label for="log_in">Log In</label>
  <button type="submit">Log In</button>
  </form>

</body>

</html>
